/* Style the login form container */
body{
	background-color: black!important;
}

#header{
	background-color: black; 
}

#container {
    background-color: black;            /* black background */
    color: #ffffff;
    border-radius: 20px!important;
    border: 3px solid rgb(251, 204, 86)!important;  /* golden border */
    max-width: 400px;
    margin: 0 auto;
}

#content{
	background-color: black;
}

/* Style input fields */
#login-form input {
    background-color: #111;
    color: #fff!important;
    border: 1px solid #444;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    margin-top: 5px;
}

.login-button {
    padding: 4px 0px!important;
}

.login .form-row label {
    color: #fff!important;
}

